* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    margin: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    h1 {
        padding: 10px;
        border: 1px solid black;
    }

    h3 {
        text-align: center;
        letter-spacing: 2px;
        margin: 10px 0;
    }
}

.zipcode {
    width: 60%;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    input[type="text"] {
        padding: 10px;
        width: 80%;
        align-content: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }
    button {
        height: 100%;
        width: 50px;
        cursor: pointer;
        margin: 0;
    }
}

.weather {
    border: 1px solid black;
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.error {
    margin: 20px;
    width: 25%;
    text-align: center;
    font-size: 14px;
    padding: 4px;
    color: rgb(205, 54, 54);
    visibility: hidden;
}